*{
    margin:0;
    padding:0;
    list-style: none;
    font-family: Poppins, sans-serif;
}
.navbar{
    display:grid;
    grid-template-rows:25vh;
    grid-template-columns:20% 36% 30%;
    /* border:1px solid; */
    background-image:linear-gradient(rgba(255, 255, 255, 0.97), rgba(255,255,255,0.97)),url('logo.png');
    background-size:100% 100%;
   /* background-position:-40px ; */
   align-items: center;
   justify-content: space-around;
    position:sticky;
    top:0; 
    z-index:3; 
}
.logo{
    /* border:1px solid; */
}
.logo img{
    height:100%;
    width:100%;
}
.outer{
    /* border:1px solid; */
    display:flex;
    justify-content:space-between;
    font-size:16px ;
    text-transform: uppercase;
    align-items:center;
    position: relative;`
    

}

ul li{
    background:white;
    padding: 7px 9px;
    border-radius:20px;
    
}
.active{
    color:white;
    background:purple;
    padding: 7px 9px;
    border-radius:20px;
    
}
.inner{
    height:40vh;
    display:flex;
    flex-direction:column;
    position:absolute;
    border:1px solid;
    color:black;
    left:-12%;
    top:115%;
}
.inner2{
    display:flex;
    flex-direction:column;
    position:absolute;
    border:1px solid;
    color:black;
    top:115%;
    left:13%;
}
.inner3{
    display:flex;
    flex-direction:column;
    position:absolute;
    border:1px solid;
    color:black;
    top:115%;
    /* left:19%; */
}
.inner4{
    display:flex;
    flex-direction:column;
    position:absolute;
    border:1px solid;
    color:black;
    top:115%;
    /* left:19%; */
}

li:hover{
    color:white;
    background:purple;
    padding:7px 9px;
    border-radius:20px;
    cursor:pointer;


}
.icons{
    /* border:1px solid black; */
   display:flex;
    justify-content: space-evenly;
}
.icons i{
    background:palevioletred;
    padding:9px 10px; 
    border-radius:50%;
    /* border:1px solid black; */
    font-size:20px;
    color:white;


}

.icons i:nth-child(1)
{
padding: 10.5px 14.5px;
}
.icons i:nth-child(2)
{
    padding: 9px 12px;
    line-height: 1.1em;
}
.icons i:nth-child(3)
{
    padding: 9px 12px; 
    line-height: 1.2em;
}
.icons i:nth-child(4)
{
    padding: 9px 14px; 
    line-height: 1.3em;
}
.icons i:hover{
    transform:rotate(360deg);
     transition:all 1s; 
}