*{
    margin:0;
    padding:0;
    list-style: none;
    font-family: Poppins, sans-serif;
}

.navbar{
    display:grid;
    grid-template-rows:25vh;
    grid-template-columns:20% 30% 30%;
    /* border:1px solid; */
    background-image:linear-gradient(rgba(255, 255, 255, 0.97), rgba(255,255,255,0.97)),url('logo.png');
    background-size:100% 100%;
   /* background-position:-40px ; */
   align-items: center;
   justify-content: space-around;
    position:sticky;
    top:0; 
    z-index:3; 
}
.logo{
    /* border:1px solid; */
}
.logo img{
    height:100%;
    width:100%;
}
ul{
    /* border:1px solid; */
    display:flex;
    justify-content: space-between;
    font-size:20px ;
    text-transform: uppercase;
    align-items:center;
    

}
.active{
    color:#FF3271;
    
   
}
li:hover{
    color:#FF3271;

}
.icons{
    /* border:1px solid black; */
   display:flex;
    justify-content: space-evenly;
}
.icons i{
    background:palevioletred;
    padding:12px; 
    border-radius:50%;
    /* border:1px solid black; */
    font-size:20px;
    color:white;


}
i:hover{
    transform:rotate(360deg);
}
.header{
    display:grid;
    /* border:1px solid;   */
    grid-template-rows:40vh;
    /* position:relative; */
    background:#FAFAFA;
}
.header h1{
    position: absolute;
    font-size:60px;
    left:47%;
    top:42%;
    text-transform: uppercase;
}
.circle{
    height:22vh;
    width:10%;
    background:rgba(255, 217, 0, 0.507);
    border-radius: 50%;
    position:relative;
    left:45%;
    top:26%;
}
.main{
    
    display:grid;
    grid-template-rows: 70vh 70vh 70vh ;
    grid-template-columns:repeat(2, 48%) ;
    grid-row-gap: 10px;
    justify-content: space-around;

}
.one{
    /* border:1px solid; */
    background:#FFFFFF;
    display:grid;
    /* grid-template-columns:repeat(2, 48%); */
    color:#333333;
    letter-spacing: normal;
    justify-content: space-around;
    
    
}
hr{
    height:0.5px;

}

.one p{
    color:#777777;
        
}


.hr{
    height:4px;
    width:20%;
    background:#FF3968;
}
.two{
    /* border:1px solid; */
    background-image: url('pic3/57.jpg');
    background-size: 100% 100%;
}
.three{
    /* border:1px solid; */
    /* background:pink; */
}
.four{
    /* border:1px solid; */
    background-image: url('pic3/58.jpg');
    background-size: 100% 100%;
}
.five{
    /* border:1px solid; */
    /* background: #FF3271; */
}
.six{
    /* border: solid 1px; */
    background-image: url('pic3/59.jpg');
    background-size: 100% 100%;
}
.footer{
    /* border:1px solid; */
    background:#F4F9FF;
    display:flex;
    flex-direction: column;
    height:40vh;
    width:205%;
    justify-content: space-around;
    align-items:center;
   
    

    
    
}
.footer img{
    height:30%;
    width:20%;
    /* border:1px solid; */
    display: flex;
    justify-content: center;
}

.icons2 i{
    background:palevioletred;
    padding:12px;  
    border-radius:50%;
    font-size:20px;
}